<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazztech.thoughtlog"
    android:versionCode="6"
    android:versionName="1.0.5" >

    <uses-sdk 
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 

    <application
        android:icon="@drawable/image_3"
        android:label="${appName}" >
        <activity
            android:label="${appName}"
            android:name=".MainActivity" 
			android:theme="@style/AppTheme">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:label="Thought Log"
            android:theme="@style/AppTheme"
			android:name=".NewLogActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity
            android:label="Log History"
            android:name=".LogHistoryActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".MainActivity">
            </meta-data>
         </activity>
        <activity
            android:label="Old Log History"
            android:name=".OldLogHistoryActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".LogHistoryActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".LogHistoryActivity">
            </meta-data>
        </activity>
        <activity
            android:label="PHQ-9 Depression Test"
            android:theme="@style/AppTheme"
            android:name=".PHQ9Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity
            android:label="GAD-7 Anxiety Test"
            android:theme="@style/AppTheme"
            android:name=".GAD7Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".MainActivity">
            </meta-data>
        </activity>
        <activity
            android:label="Database Row Info"
            android:theme="@style/AppTheme"
            android:name=".AllDBRow"
            android:parentActivityName=".LogHistoryActivity">
            <meta-data
                android:name="android.support.Parent_Activity"
                android:value=".LogHistoryActivity">
            </meta-data>
        </activity>
    </application>

</manifest>
